---
import List from "../../components/broker/list.astro";
import ListGroups from "../../layouts/broker/listGroups.astro";
import Layout from "../../layouts/layout.astro";
import Navbar from "../../layouts/navbar.astro";

export const prerender = false;
const { broker } = Astro.params as { broker: string };

const datas = [{
  message: "Succes",
  broker: "ajaib",
  cash: 1000000,
  data: [
    {kode: "BBCA", lot: 10, avgPrice: 1000, lastPrice: 1100},
    {kode: "BMRI", lot: 5, avgPrice: 2000, lastPrice: 2100},
    {kode: "BRRI", lot: 15, avgPrice: 1500, lastPrice: 1600}
  ]
}]

const detail = datas.find((item) => item.broker === broker);
---
<Layout title={`Dashboard - ${broker}`}>
  {detail ? (
    <>
      {/* <Navbar /> */}
      <ListGroups>
        {detail.data.map((item) => (
          <List />
        ))}
      </ListGroups>
    </>
  ) : (
    <h1>Broker "{broker}" tidak ditemukan 🚫</h1>
  )}
</Layout>