---
import Layout from '../layouts/layout.astro'
import Nav from '../layouts/navbar.astro'
import CardGroups from '../layouts/cardGroups.astro'
---

<Layout title="Home">
	<Nav></Nav>
	<CardGroups></CardGroups>
</Layout>