---
function rupiah(number: any) {
  return new Intl.NumberFormat("id-ID", {
    style: "currency",
    currency: "IDR",
    minimumFractionDigits: 0,
  }).format(number);
}

function number(x: any) {
  return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
}

function PnLPersentase(AvgPrice: number, lastPrice: number) {
  const percentage = ((lastPrice - AvgPrice) / AvgPrice) * 100;
  const formatted = Math.abs(percentage).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ".");
  return percentage < 0 ? `(${formatted})` : formatted;
}

const {code, lot, AvgPrice, lastPrice, PnL} = Astro.props;

---

<div class="bg-gray-60 border-white border-b-1 max-w-5xl min-w-80 md:w-lg h-24 grid grid-cols-4 p-3">
    <div class="bg-blue-60 text-white text-xl ">
        <h1>{code}</h1>
    </div>
    <div class="bg-gray-60 col-span-2 text-nowrap text-white text-md text-end pr-5">
        <p>{rupiah(lastPrice * lot * 100)}</p>
        <p>{rupiah(PnL)} ({ PnLPersentase(AvgPrice, lastPrice) }%)</p>
        <p class="text-neutral-400">{lot} Lot | Avg { number(AvgPrice)}</p>
    </div>
    <div class="text-white text-md text-end flex flex-col justify-center">
        <p>{ number(lastPrice) }</p>
        <p>0 (0,00%)</p>
    </div>
</div>