---
import Card from "../components/card.astro";

const rupiah = (value: number) => {
  return new Intl.NumberFormat("id-ID", {
    style: "currency",
    currency: "IDR",
    minimumFractionDigits: 0, // tanpa decimal
    maximumFractionDigits: 0,
  }).format(value);
};

let datas = [
    {
        broker: "Stockbit",
        cash: 1000000,
        invested: 500000,
    },
    {
        broker: "Ajaib",
        cash: 2000000,
        invested: 1500000,
    },
    {
        broker: "Indo Premier",
        cash: 3000000,
        invested: 2500000,
    }
    ];
---

<main class="flex justify-center items-center">
  <div id="groups" class="bg-gray-80 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 h-auto max-w-6xl">
    {datas.map((data, i) => (
        // let equity = data.cash + data.invested;
      <Card broker={data.broker} cash={rupiah(data.cash)} invested={rupiah(data.invested)} equity={rupiah(data.cash + data.invested)}/>
    ))}
  </div>
</main>